name: SundialKit
on:
  push:
    branches-ignore:
      - '*WIP'
env:
  PACKAGE_NAME: SundialKit
jobs:
  build-ubuntu:
    name: Build on Ubuntu
    runs-on: ${{ matrix.runs-on }}
    if: ${{ !contains(github.event.head_commit.message, 'ci skip') }}
    strategy:
      matrix:
        runs-on: [ubuntu-18.04, ubuntu-20.04, ubuntu-22.04]
        swift-version: [5.5.2, 5.6.2, 5.7]
    steps:
      - uses: actions/checkout@v4
      - uses: brightdigit/swift-build@v1.3.3
        with:
          swift-version: ${{ matrix.swift-version }}
      - uses: sersoft-gmbh/swift-coverage-action@v4
        id: coverage-files
        with:
          fail-on-empty-output: true
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          fail_ci_if_error: true
          flags: spm,ubuntu-${{ matrix.runs-on }},${{ matrix.swift-version }}
          verbose: true
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ${{ join(fromJSON(steps.coverage-files.outputs.files), ',') }}
  build-macos:
    name: Build on macOS
    runs-on: ${{ matrix.runs-on }}
    if: ${{ !contains(github.event.head_commit.message, 'ci skip') }}
    strategy:
      fail-fast: false
      matrix:
        include:
          # SPM Build Matrix
          - runs-on: macos-11
            xcode: "/Applications/Xcode_13.2.1.app"
          - runs-on: macos-12
            xcode: "/Applications/Xcode_13.3.app"
          - runs-on: macos-12
            xcode: "/Applications/Xcode_13.4.1.app"
          - runs-on: macos-12
            xcode: "/Applications/Xcode_14.0.1.app"
          - runs-on: macos-12
            xcode: "/Applications/Xcode_14.1.app"

          # iOS Build Matrix
          - type: ios
            runs-on: macos-11
            xcode: "/Applications/Xcode_13.2.1.app"
            deviceName: "iPhone 13"
            osVersion: "15.2"

          - type: ios
            runs-on: macos-12
            xcode: "/Applications/Xcode_13.3.app"
            deviceName: "iPhone 13"
            osVersion: "15.4"

          - type: ios
            runs-on: macos-12
            xcode: "/Applications/Xcode_13.4.1.app"
            deviceName: "iPhone 13"
            osVersion: "15.5"

          - type: ios
            runs-on: macos-12
            xcode: "/Applications/Xcode_14.0.1.app"
            deviceName: "iPhone 14"
            osVersion: "16.0"

          - type: ios
            runs-on: macos-12
            xcode: "/Applications/Xcode_14.1.app"
            deviceName: "iPhone 14"
            osVersion: "16.1"

          # watchOS Build Matrix
          - type: watchos
            runs-on: macos-11
            xcode: "/Applications/Xcode_13.2.1.app"
            deviceName: "Apple Watch Series 7 - 41mm"
            osVersion: "8.3"

          - type: watchos
            runs-on: macos-12
            xcode: "/Applications/Xcode_13.3.app"
            deviceName: "Apple Watch Series 7 - 41mm"
            osVersion: "8.5"

          - type: watchos
            runs-on: macos-12
            xcode: "/Applications/Xcode_13.4.1.app"
            deviceName: "Apple Watch Series 7 - 41mm"
            osVersion: "8.5"

          - type: watchos
            runs-on: macos-12
            xcode: "/Applications/Xcode_14.0.1.app"
            deviceName: "Apple Watch Series 8 (41mm)"
            osVersion: "9.0"

          - type: watchos
            runs-on: macos-12
            xcode: "/Applications/Xcode_14.1.app"
            deviceName: "Apple Watch Ultra (49mm)"
            osVersion: "9.1"

    steps:
      - uses: actions/checkout@v4

      - name: Build and Test
        uses: brightdigit/swift-build@v1.3.3
        with:
          scheme: ${{ env.PACKAGE_NAME }}
          type: ${{ matrix.type }}
          xcode: ${{ matrix.xcode }}
          deviceName: ${{ matrix.deviceName }}
          osVersion: ${{ matrix.osVersion }}

      # Coverage Steps
      - name: Process Coverage
        uses: sersoft-gmbh/swift-coverage-action@v4
        id: coverage-files
        with:
          fail-on-empty-output: true

      - name: Upload Coverage
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          flags: ${{ matrix.type && format('{0}-{1}', matrix.type, matrix.osVersion) || 'spm' }}
          verbose: true
          fail_ci_if_error: true
          files: ${{ join(fromJSON(steps.coverage-files.outputs.files), ',') }}

  lint:
    name: Linting
    if: ${{ !contains(github.event.head_commit.message, 'ci skip') }}
    runs-on: ubuntu-latest
    needs: [build-ubuntu, build-macos]
    env:
      MINT_PATH: .mint/lib
      MINT_LINK_PATH: .mint/bin
      LINT_MODE: STRICT
    steps:
      - uses: actions/checkout@v4
      - name: Cache mint
        id: cache-mint
        uses: actions/cache@v4
        env:
          cache-name: cache
        with:
          path: |
            .mint
            Mint
          key: ${{ runner.os }}-mint-${{ hashFiles('**/Mintfile') }}
          restore-keys: |
            ${{ runner.os }}-mint-
      - name: Install mint
        if: steps.cache-mint.outputs.cache-hit == ''
        run: |
          git clone https://github.com/yonaskolb/Mint.git
          cd Mint
          swift run mint install yonaskolb/mint
      - name: Lint
        run: |
          set -e
          ./Scripts/lint.sh
